
{include file="common/header"}
<link href="__PUBLIC__step-lay/step.css" rel="stylesheet">
<style>
.layui-form-radio>i {
    margin-right: 0px;
    font-size: 15px;
    color: #009688;
}
</style>
  <div class="content">
     
    <div class="layui-fluid">
        <div class="layui-card">
            <div class="layui-card-body" style="padding-top: 40px;">
                <div class="layui-carousel" id="stepForm" lay-filter="stepForm" style="margin: 0 auto;">
                    <div carousel-item>
                        
                        <div id="address">
                            <form class="layui-form" style="margin: 0 auto;max-width: 860px;padding-top: 40px;">
                                 <input type="hidden" name="o_id" id="o_id" value="{$order.id}">
                                 <!-- 隐藏订单状态 -->
                        <input type="hidden" name="status" id="status" value="{$order.status}">
                                <div class="layui-form-item" style="border-bottom: 1px solid #ccc;"></div>
                                <table class="layui-table" style=" border-collapse: collapse;">
                                  <thead>
                                    <tr>
                                      <th></th>
                                      <th>收货人</th>
                                      <th>所在地区</th>
                                      <th>详细地址</th>
                                      <th>邮编</th>
                                      <th>电话/手机号</th>
                                      <th></th>
                                    </tr> 
                                  </thead>
                                  <tbody>
                                    {volist name="address" id="vo"}
                                    <tr>
                                      <td>
                                        {if condition="$vo.status eq 1"}
                                        <input type="radio" name="select" id="" value="{$vo.id}" checked="">
                                        {else /}
                                        <input type="radio" name="select" id="" value="{$vo.id}">
                                        {/if}
                                      </td>
                                      <td>{$vo.name}</td>
                                      <td>{$vo.province} {$vo.city} {$vo.area}</td>
                                      <td>{$vo.address}</td>
                                      <td>{$vo.code}</td>
                                      <td>{$vo.phone}</td>
                                      <td>
                                        {if condition="$vo.status eq 1"}
                                        <button style="display: block;width: 80px;height: 30px;line-height: 30px;text-align: center;border: 1px solid #ff5000;border-radius: 3px;background: #ffd6cc;color: #f30;">默认地址</button>
                                        {/if}
                                      </td>
                                    </tr>
                                    {/volist}
                                  </tbody>
                                </table>
                                
                                <div class="layui-form-item">
                                    <div class="layui-input-block" style="width: 100px;margin-left: 360px;margin-top:20px;">
                                        <button class="layui-btn" lay-submit lay-filter="formStep">
                                            &emsp;下一步&emsp;
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div>
                            <form class="layui-form" style="margin: 0 auto;max-width: 460px;padding-top: 40px;">
                                <div class="layui-form-item">
                                    <div class="layui-input-block">
                                        <div class="layui-form-mid layui-word-aux" style="margin-left: 30px;">
                                          <img src="__PUBLIC__static/img/pay.jpg" width="150" height="150" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="layui-form-item" style="font-size: 16px;margin-left: 110px">
                                    <label class="layui-form-label">总计：</label>
                                    <div class="layui-input-block">
                                        <div class="layui-form-mid layui-word-aux"><a style="color:red">{$order.sumMoney}</a><a style="color: #000">元</a></div>
                                    </div>
                                </div>
                               
                                <div class="layui-form-item">
                                    <div class="layui-input-block">
                                        <button type="button" class="layui-btn layui-btn-primary pre">上一步</button>
                                        <button class="layui-btn" lay-submit lay-filter="formStep2">
                                            &emsp;已付款&emsp;
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div>
                            <div style="text-align: center;margin-top: 90px;">
                                <i class="layui-icon layui-circle"
                                   style="color: white;font-size:30px;font-weight:bold;background: #52C41A;padding: 20px;line-height: 80px;">&#xe605;</i>
                                <div style="font-size: 24px;color: #333;font-weight: 500;margin-top: 30px;">
                                    付款成功
                                </div>
                                <div style="font-size: 14px;color: #666;margin-top: 20px;">24个小时内发货，请耐心等待！</div>
                            </div>
                            <div style="text-align: center;margin-top: 50px;">
                                <button class="layui-btn" lay-submit lay-filter="nextBuy">继续购买</button>
                                <button class="layui-btn layui-btn-primary">查看订单</button>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
               
            </div>
        </div>
    </div>
 

 
 
  </div>

{include file="common/footer"}
<script src="__PUBLIC__step-lay/step.js"></script>
  <script type="text/javascript">

layui.config({
    base: '__PUBLIC__static/js/util/' //你存放新模块的目录，注意，不是layui的模块目录
  }).use(['mm','carousel'],function(){
      var carousel = layui.carousel,
     mm = layui.mm;
      
    
});

layui.config({
            base:'__PUBLIC__step-lay/'
        }).use([ 'form', 'step'], function () {
            var $ = layui.$
                , form = layui.form
                , step = layui.step;

            step.render({
                elem: '#stepForm',
                filter: 'stepForm',
                width: '100%', //设置容器宽度
                stepWidth: '750px',
                height: '500px',
                stepItems: [{
                    title: '选择收货地址'
                }, {
                    title: '扫码付款'
                }, {
                    title: '完成'
                }]
            });

//初始页面
$(function(){
  var status=$("#status").val();
  if(status==2){
    step.next('#stepForm');
    layer.msg('扫码付款');
    return false;
  }
});
            form.on('submit(formStep)', function (data) {
                //判断是否选中单选框
                var val=$('input:radio[name="select"]:checked').val();
                if(val==null){
                  layer.msg('请选择发货地址！',{time:1500});
                }else{
                  step.next('#stepForm');
                  console.log(data.field);
                  $.ajax({
                    type:"post",
                    url: "{:url('add/addPay')}",
                    data:{add_id:data.field.select, o_id:data.field.o_id},
                    dataType:"json",
                    success:function(res){
                      if(res.status==1){
                        layer.msg('扫码付款',{time:1000});
                      }
                    },
                    error:function(res){
                      layer.msg('发送请求失败！');
                    }
                  });  
                }
                
                return false;
            });

            form.on('submit(formStep2)', function (data) {
                step.next('#stepForm');
                var o_id=$("#o_id").val();
                $.ajax({
                    type:"post",
                    url: "{:url('add/finishPay')}",
                    data:{o_id:o_id},
                    dataType:"json",
                    success:function(res){
                      if(res.status==1){
                        layer.msg('完成付款，24小时内发货',{icon:6,time:1000});
                      }
                    },
                    error:function(res){
                      layer.msg('发送请求失败！');
                    }
                  });
                return false;
            });

            $('.pre').click(function () {
                step.pre('#stepForm');
            });

            $('.next').click(function () {
                step.next('#stepForm');
            });
    //继续购买
    form.on('submit(nextBuy)',function(){
      window.location.href="{:url('index/index')}";
    });
        });

  </script>
</body>
</html>