
{include file="common/header"}

  <div class="content content-nav-base buytoday-content">
    <div id="list-cont">
      <div class="main-nav">
        <div class="inner-cont0">
          <div class="inner-cont1 w1200">
            <div class="inner-cont2">
            <a href="{:url('index/index')}">首页</a>
              <a href="{:url('all/index')}">所有商品</a>
              <a href="{:url('index/buytoday')}"  class="active">今日团购</a>
              <a href="{:url('news/index')}">零食资讯</a>
              <a href="{:url('index/about')}">关于我们</a>
            </div>
          </div>
        </div>
      </div>
      <div class="banner-box">
        <div class="banner"></div>
      </div>
      <div class="product-list-box">
        <div class="product-list w1200">  
          <div class="tab-title">
            <a href="javascript:;" class="active tuang" data-content="tuangou">今日团购</a>
            <a href="javascript:;" data-content="yukao">明日预告</a>
          </div>
          <div class="list-cont" cont = 'tuangou'>
            <!-- 今日团购 -->
            <div class="item-box layui-clear" id="today"></div>
            <!-- 分页 -->
            <div id="todayPage" style="text-align: center;"></div>
          </div>
          <div class="list-cont layui-hide" cont = 'yukao'>
            <!-- 明日预告 -->
            <div class="item-box layui-clear" id="tomorrow"></div>
            <!-- 分页 -->
            <div id="tomorrowPage" style="text-align: center;"></div>
          </div>
        </div>  
      </div>
      <div class="footer-wrap">
        <div class="footer w1200">
          <div class="title">
            <h3>团购销量榜</h3>
          </div>
          <div class="list-box layui-clear" id="footerList">
            <div class="item">
              <img src="__PUBLIC__static/img/s_img2.jpg" alt="" width="320" height="400">
              <div class="text">
                <div class="right-title-number">1</div>
                <div class="commod">
                  <p>黄小鸭</p>
                  <span>￥100.00</span>
                </div>
              </div>
            </div>
            <div class="item">
              <img src="__PUBLIC__static/img/s_img3.jpg" alt="" width="320" height="400">
              <div class="text">
                <div class="right-title-number">2</div>
                <div class="commod">
                  <p>芝士</p>
                  <span>￥100.00</span>
                </div>
              </div>
            </div>
            <div class="item">
              <img src="__PUBLIC__static/img/s_img4.jpg" alt="" width="320" height="400">
              <div class="text">
                <div class="right-title-number">3</div>
                <div class="commod">
                  <p>黄黄小鸭</p>
                  <span>￥100.00</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

   
  
{include file="common/footer"}
<script>

  layui.config({
    base: '__PUBLIC__static/js/util/' //你存放新模块的目录，注意，不是layui的模块目录
  }).use(['mm','laypage','jquery'],function(){
      var laypage = layui.laypage,$ = layui.$;
     mm = layui.mm;
       
      $('body').on('click','*[data-content]',function(){
        $(this).addClass('active').siblings().removeClass('active')
        var dataConte = $(this).attr('data-content');
        $('*[cont]').each(function(i,item){
          var itemCont = $(item).attr('cont');
          console.log(item)
          if(dataConte === itemCont){
            $(item).removeClass('layui-hide');
          }else{
            $(item).addClass('layui-hide');
          }
        })
      })

//初始化
function today(start,size){
        $.ajax({
            type:"post",
            url:"{:url('index/today')}",
            data:{start: start,size: size,subject_chapter_no: "{$todayNum}"},
            timeout:10000,
            error:function (){
                alert('发送请求超时，请稍后重试');
                //console.log("请求失败");
            },
            success:function(result){
                $("#today").empty();
                $.each(result.data,function (index,value) {
                    $("#today").append(
                      '<a href="/public/index/index/details?id='+value.id+'">'+
                        '<div class="item">'+
                          '<img src="'+value.pic+'" alt="" width="290" height="320">'+
                          '<div class="text-box">'+
                            '<p class="title">'+value.name+'</p>'+
                            '<p class="plic">'+
                              '<span class="ciur-pic">￥'+value.realPrice+'</span>'+
                              '<span class="Ori-pic">￥'+value.price+'</span>'+
                              '<span class="discount">秒杀价</span>'+
                          '</div>'+
                      '</a>'
                    );
                });
            }
        });
    }

var pageSize = 20;  //每页显示的条数
var discussionNum = '{$todayNum}'; //数据总数
 
//layui分页样式
layui.use(['laypage', 'layer'], function(){
    var laypage = layui.laypage
    ,layer = layui.layer;
    //总页数大于页码总数
    laypage.render({
        elem: 'todayPage'//标签ID
        ,limit: pageSize  //每页显示的条数
        ,count: discussionNum //数据总数
        ,jump: function(obj){
            //console.log(obj.curr);
            today(obj.curr,pageSize); //通过obj.curr传递当前页
        }
    });
});
//初始化
function tomorrow(start,size){
        $.ajax({
            type:"post",
            url:"{:url('index/tomorrow')}",
            data:{start: start,size: size,subject_chapter_no: "{$tomorrowNum}"},
            timeout:10000,
            error:function (){
                alert('发送请求超时，请稍后重试');
                //console.log("请求失败");
            },
            success:function(result){
                $("#tomorrow").empty();
                $.each(result.data,function (index,value) {
                    $("#tomorrow").append(
                        '<div class="item">'+
                          '<img src="'+value.pic+'" alt="" width="290" height="320">'+
                          '<div class="text-box">'+
                            '<p class="title">'+value.name+'</p>'+
                            '<p class="plic">'+
                              '<span class="ciur-pic">￥'+value.realPrice+'</span>'+
                              '<span class="Ori-pic">￥'+value.price+'</span>'+
                              '<span class="discount">秒杀价</span>'+
                          '</div>'
                    );
                });
            }
        });
    }

var pageSize = 20;  //每页显示的条数
var discussionNum = '{$tomorrowNum}'; //数据总数
 
//layui分页样式
layui.use(['laypage', 'layer'], function(){
    var laypage = layui.laypage
    ,layer = layui.layer;
    //总页数大于页码总数
    laypage.render({
        elem: 'tomorrowPage'//标签ID
        ,limit: pageSize  //每页显示的条数
        ,count: discussionNum //数据总数
        ,jump: function(obj){
            //console.log(obj.curr);
            tomorrow(obj.curr,pageSize); //通过obj.curr传递当前页
        }
    });
});
});
</script>


</body>
</html>