
{include file="common/header"}


  <div class="content content-nav-base shopcart-content">
   
     
    <div class="cart w1200" style="margin-top: 30px;">
    {volist name="order" id="vo" key="k"}
      <div class="cart-table-th">
        <div class="th th-chk">
          <div class="select-all">
            <div class="cart-checkbox">
              <input class="check-all check" id="allCheckked" type="checkbox" value="true">
            </div>
          <label>&nbsp;&nbsp;</label>
          </div>
        </div>
        <div class="th th-item">
          <div class="th-inner">
            订单号：{$vo.number}
          </div>
        </div>
        <div class="th th-price">
          <div class="th-inner">
            单价
          </div>
        </div>
        <div class="th th-amount">
          <div class="th-inner">
            时间：{$vo.orderTime}
          </div>
        </div>
        <div class="th th-sum">
          <div class="th-inner">
            总计：￥{$vo.sumMoney}
          </div>
        </div>
        <div class="th th-op">
          <div class="th-inner">
            <a href="javascript:;" onclick="orderDel(this,'{$vo.id}')">删除</a>
          </div>
        </div>  
      </div>
      {volist name="booking" id="vs" key="k"}
      {if condition="$vo.id eq $vs.o_id"}
      <div class="OrderList" style="border-bottom: 1px solid #f5f5f5;">
        <div class="order-content" id="list-cont">
          
          <ul class="item-content layui-clear">
            <li class="th th-chk">
              <div class="select-all">
                <div class="cart-checkbox">

                </div>
              </div>
            </li>
            <li class="th th-item">
              <div class="item-cont">
                <a href="javascript:;"><img src="{$vs.pic}" alt=""></a>
                <div class="text">
                  <div class="title">{$vs.pname}</div>
                  <p><span>订单号</span>  <span>130</span>cm</p>
                </div>
              </div>
            </li>
            <li class="th th-price">
              <span class="th-su">￥{$vs.realPrice}</span>
            </li>
            <li class="th th-amount">
              <div class="box-btn layui-clear">
                <div class="less layui-btn">-</div>
                <input class="Quantity-input" type="" name="" value="{$vs.num}" disabled="disabled">
                <div class="add layui-btn">+</div>
              </div>
            </li>
            <li class="th th-sum">
              <span class="sum">￥{$vs.b_price}</span>
            </li>

          </ul>
           
        </div>
      </div>
      {/if}
      {/volist}
    {/volist}
    <div style="padding: 20px 0px 0 0;width: 300px;float:right;">
      <button class="layui-btn" id="pay">去结算</button>
      <button class="layui-btn layui-btn-warm" id="cancel">取消订单</button>
    </div>
    </div>

  </div>
  
{include file="common/footer"}
<script type="text/javascript">
  layui.config({
    base: '__PUBLIC__static/js/util/' //你存放新模块的目录，注意，不是layui的模块目录
  }).use(['mm','jquery','element','car','layer'],function(){
    var mm = layui.mm,$ = layui.$,element = layui.element,car = layui.car;
    var layer=layui.layer;
    //删除
    $("#del").on('click',function(){
      var oid=$(".oid").val();
      //console.log(oid);
      //传入后台
      $.ajax({
        type:"post",
        url:"{:url('del/order')}",
        data:{id:oid},
        dataType:"json",
        success:function(res){
          console.log(oid);
          if(res.status==1){
            layer.msg(res.message,{icon:6},function(){
              window.location.reload();
            });
          }
        },
        error:function(res){
          console.log('发送请求失败！');
          layer.msg('发送请求失败！');
        }
      });
    });
    
  
});
</script>
<script src="__PUBLIC__static/js/jquery.js"></script>
<script>
  //删除订单
  function orderDel(obj,id){
    layer.confirm('确认要取消删除吗？',function(index){
          //发异步删除数据
          $.get("{:url('del/order')}",{id:id});
          layer.msg('已删除!',{icon:1,time:1000},function(){
            parent.location.reload();
          });
      });
  }
  </script>
</body>
</html>