

{include file="common/header"}


  <div class="content content-nav-base commodity-content">
    <div class="main-nav">
      <div class="inner-cont0">
        <div class="inner-cont1 w1200">
          <div class="inner-cont2">
            <a href="{:url('index/index')}">首页</a>
            <a href="{:url('all/index')}">所有商品</a>
            <a href="{:url('index/buytoday')}">今日团购</a>
            <a href="{:url('news/index')}">零食资讯</a>
            <a href="{:url('index/about')}">关于我们</a>
          </div>

        </div>
      </div>
    </div>
    <div class="commod-cont-wrap">
      <div class="commod-cont w1200 layui-clear">
        <div class="left-nav">
          <div class="title">个人中心</div>
          <div class="list-box">
            
            <ul>
              <li><a href="{:url('info/index')}">个人信息</a></li>
              <li><a href="{:url('info/order')}">我的订单</a></li>
              <li><a href="{:url('info/collect')}">我的收藏</a></li>
              <li><a href="{:url('info/address')}">收货地址</a></li>
              <li><a href="{:url('info/password')}">修改密码</a></li>
            </ul>
          </div>
        </div>
        <div class="right-cont-wrap">
          <div class="right-cont" style="background-color: #fff;min-height: 500px;height: auto;width: 850px">
            <!-- 订单 -->
            <div>
              <div class="layui-tab">
                  <ul class="layui-tab-title">
                    <li class="layui-this">修改密码</li>
                  </ul>
                  <div class="layui-tab-content">
                    <!-- 基本信息 -->
                    <div class="layui-tab-item layui-show">
                      <form class="layui-form" action="" id="formData">
                        <div class="layui-form-item">
                          <label class="layui-form-label">旧密码:</label>
                          <div class="layui-input-inline">
                            <input type="password" name="oldpass" required  lay-verify="oldpass" placeholder="请输入旧密码" autocomplete="off" class="layui-input">
                          </div>
                        </div>
                        <div class="layui-form-item">
                          <label class="layui-form-label">新密码:</label>
                          <div class="layui-input-inline">
                            <input type="password" id="L_pass" name="newpass" required="" lay-verify="required" autocomplete="off" class="layui-input">
                          </div>
                        </div>
                  
                        <div class="layui-form-item">
                          <label class="layui-form-label">确认密码:</label>
                          <div class="layui-input-inline">
                            <input type="password" id="L_repass" name="repass" required="" lay-verify="required" autocomplete="off" class="layui-input">
                          </div>
                        </div>
                      
                        <div class="layui-form-item">
                          <div class="layui-input-block">
                            <button class="layui-btn layui-btn-sm" lay-submit lay-filter="save">立即提交</button>
                            <button type="reset" class="layui-btn layui-btn-primary layui-btn-sm">重置</button>
                          </div>
                        </div>
                      </form>
                    </div>
                </div>
              </div>
            </div>
              
          
             
          </div>
        </div>
      </div>
    </div>
  </div>
  
{include file="common/footer"}
<script>

  layui.config({
    base: '__PUBLIC__static/js/util/' //你存放新模块的目录，注意，不是layui的模块目录
  }).use(['mm','laypage','jquery','form'],function(){
      var laypage = layui.laypage,$ = layui.$,
     mm = layui.mm,form=layui.form;
       laypage.render({
        elem: 'demo0'
        ,count: 100 //数据总数
      });
 //自定义验证规则
                form.verify({
                    pass: [/(.+){6,12}$/, '密码必须6到12位'],
                    repass: function(value) {
                        if ($('#L_pass').val() != $('#L_repass').val()) {
                            return '两次密码不一致';
                        }
                    }
                });
                //监听提交
                form.on('submit(save)',
                function(data) {
                    console.log(data);
                    //发异步，把数据提交给php
                    $.ajax({
                        type: "POST",
                        url: "{:url('edit/password')}",
                        data: $("#formData").serialize(),
                        dataType:'json',
                        async:false,
                        success:function(res){
                            if(res.status == 1){
                                layer.msg(res.message,{icon:6,time:1000},function(){
                                     window.location.reload();
                                });
                            }else{
                                layer.msg(res.message,{icon:5,time:1000},function(){
                                     window.location.reload();
                                });
                            }
                        },
                        error:function(res){
                            layer.alert('发送请求失败！');
                        }
                    });
                     
                    return false;
                });
    $('.sort a').on('click',function(){
      $(this).addClass('active').siblings().removeClass('active');
    });
    //初始化分类子列表隐藏
    $('.list-box dt').addClass('active').siblings('dd').hide();
    $('.list-box dt').attr('off',true);
    //点击隐藏/开启分类列表
    $('.list-box dt').on('click',function(){
      if($(this).attr('off')){
        $(this).removeClass('active').siblings('dd').show()
        $(this).attr('off','')
      }else{
        $(this).addClass('active').siblings('dd').hide()
        $(this).attr('off',true)
      }
    })

});


 
</script>


</body>
</html>