{include file="common/header"}
		<style>
			.layui-form-label{
				width: 100px;
			}
			.layui-input-block{
				margin-left: 130px;
			}
			.layui-form{
				margin-right: 30%;
			}
		</style>

	</head>

	<body>
		<div class="cBody" style="margin-top: 20px;">
			<form id="formData" class="layui-form" action="">
				<div class="layui-form-item">
					<label class="layui-form-label">商品名称</label>
					<div class="layui-input-block">
						<input type="text" name="name" required lay-verify="required" autocomplete="off" class="layui-input" placeholder="商品名称">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">商品图</label>
					<div class="layui-upload-drag" id="pic">
					  <i class="layui-icon" id="icon"></i>
					  <p id="text">点击上传，或将文件拖拽到此处</p>
					  <!-- <img src="/public/static/index/static/img/xiangqing3.jpg" alt="" width="100" height="151"> -->
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">单位</label>
					<div class="layui-input-block">
						<input type="text" name="num" required lay-verify="required" autocomplete="off" class="layui-input" placeholder="输入数字">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">参考价格</label>
					<div class="layui-input-block">
						<input type="text" name="price" required lay-verify="required|number" autocomplete="off" class="layui-input" placeholder="参考价格">
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">售出价格</label>
					<div class="layui-input-block">
						<input type="text" name="realPrice" required lay-verify="required|number" autocomplete="off" class="layui-input" placeholder="售出价格">
					</div>
				</div>

				<div class="layui-form-item">
					<label class="layui-form-label">分类</label>
	                <div class="layui-input-inline">
	                    <select name="c_id" id="onelevel" lay-filter="onelevel">
	                        <option value="">一级分类</option>
					  		{volist name="onelevel" id="vo"}
	                    	<option value="{$vo.id}">{$vo.catename}</option>
	                    	{/volist}
	                    </select>
	                </div>
	                <div class="layui-input-inline">
	                    <select name="twolevel" id="twolevel" lay-filter="twolevel">
	                        <option value="">二级分类</option>
	                    </select>
	                </div>
				</div>
				
				<div class="layui-form-item">
					<label class="layui-form-label">商品详情图</label>
					<div class="layui-upload-drag" id="details">
					  <i class="layui-icon" id="icons"></i>
					  <p id="texts">点击上传，或将文件拖拽到此处</p>
					  <!-- <img src="/public/static/index/static/img/xiangqing3.jpg" alt="" width="100" height="151"> -->
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">状态</label>
					<div class="layui-input-block">
						<input type="radio" name="status" value="1" title="上架" checked>
						<input type="radio" name="status" value="0" title="下架">
					</div>
				</div>
				<div class="layui-form-item">
					<div class="layui-input-block">
						<button class="layui-btn" lay-submit lay-filter="submitBut">立即提交</button>
						<button type="reset" class="layui-btn layui-btn-primary">重置</button>
					</div>
				</div>
			</form>
			
			
			<script>
				layui.use(['upload','form','jquery'], function() {
					var form = layui.form;
					var upload = layui.upload;
					var layer = layui.layer;
					$ = layui.jquery;
					//监听提交
					form.on('submit(submitBut)', function(data) {
						console.log(data);
						var pic=$("#pics").attr("src");
						var details=$("#detail").attr("src");
						data.field.pic=pic;
						data.field.details=details;
						$.ajax({
							type:'post',
							url:"{:url('add/product')}",
							dataType:'json',
							contentType:"application/json",
							data:JSON.stringify(data.field),
							async:false,
							success:function(res){
								if(res.status==1){
									layer.alert(res.message,{icon:6},function(){
										xadmin.close();
										xadmin.father_reload();
									});
								}else{
									layer.alert(res.message,{icon:5},function(){
										xadmin.close();
										xadmin.father_reload();
									});
								}
							},
							error:function(res){
								layer.alert('发送请求失败');
							}
						});
						return false;
					});
					form.verify({
						//数组的两个值分别代表：[正则匹配、匹配不符时的提示文字]
					  	ZHCheck: [
						    /^[\u0391-\uFFE5]+$/
						    ,'只允许输入中文'
					  	] 
					});
			//二级联动
			form.on('select(onelevel)',function(data){
				console.log(data.value);
				var one_id=data.value;
				$.ajax({
					type:"post",
					url:"{:url('common/level')}",
					data:{'id':one_id},
					dataType:"json",
					success:function(res){
						var obj=JSON.parse(res);
						$("select[name='twolevel']").empty();
						var html="<option value='0'>二级分类</option>";
						console.log(obj);
						 $(obj).each(function(v,k){
						 	html +="<option value='"+k.id+"'>"+k.catename+"</option>";
						 });
						//把遍历的数据放到select表里
						$("select[name='twolevel']").append(html);
						form.render('select');
					},
					error:function(res){
						layer.alert('发送请求失败');
					}
				});
			});

					//商品图片上传
					upload.render({
						elem: '#pic',
						url: '{:url('add/picture')}',
						before:function(res){
							console.log(res.filename);
						},
						done: function(res) {
						  	console.log(res.filename);
						  	$('#pic').append('<img id="pics" src="/public'+res.filename+'" style="width:200px;height:200px;"/>');
						  	$('#icon').remove();
						  	$('#text').remove();
						}
					});
					//详情图上传
					//拖拽上传
					upload.render({
						elem: '#details',
						url: '{:url('add/picture')}',
						before:function(res){
							console.log(res.filename);
						},
						done: function(res) {
						  	console.log(res.filename);
						  	$('#details').append('<img id="detail" src="/public'+res.filename+'" style="width:200px;height:200px;"/>');
						  	$('#icons').remove();
						  	$('#texts').remove();
						}
					});
				});
			</script>

		</div>
	</body>

</html>